include header

div(class="row")
 div(class="col col-md-12")
  div(class='catalog')
   h1(class="catalog-text") Админ-панель       
ul
 li(class="cat-title-name")
  a(href="/admin-order") Заказы
 li(class="cat-title-name")
  a(href="/admin-goods") Добавить товар 
 li(class="cat-title-name")
  a(href="/") Главная
 li(class="cat-title-name")
  a(href="/admin-news") Добавить новость
  
link(rel='stylesheet', href='/css/style.css')