div(class="footer")
    div(class="row")
        div(class="col col-lg-6")
            div(class="footer-text") <b>О нас </b><p>ИП Казукевич Валентина Антоновна, г.Гродно пр-т Строителей 11-4 УНП 591262880 Свидетельство о государственной регистрации выдано 25.10.2016г. Регистрационный номер в Торговом реестре Республики Беларусь 405903 от 19.02.2018г.
        div(class="col col-lg-6")
            div(class="footer-text") <b>Контакты</b><p> Смело звоните и пишите нам: <br><b>80336945303 МТС </b><br><b>80299840403 Велком </b><br>Режим работы: круглосуточно.
            
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@8')
script(src='/js/nav.js')
script(src='/js/card.js')
