include header

div(class='wrap')
  div(class='content')
    include navbar
    div(class="row")
     div(class='catalog')
        h1(class="catalog-text") Главная        
    
    
    
    
    
    div(class='row')
     button(class="show-nav") <i class="fas fa-shopping-cart"></i>

include nav
include footer
link(rel='stylesheet', href='/css/style.css')